.modalCss{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: rgb(194,194,195,0.4); */
    background-color: rgb(221, 207, 207);

    z-index: 1000;
}
.MMTmodal{
    border-radius: 3%;
    border: 3px solid white;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(247 247 247);
    /* background-color: red; */

    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Fare{
   padding: 20px;
   /* background-color: red; */
   margin: 20px;
   height: 135px;
   border: 2px solid black;
}
.baseFare{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border-bottom: 2px solid black;
    margin: 10px;
}
#numbers{
    margin-left: 10px;
}
.conformation{
    height: 40%;
    width: 40%;
   opacity: 90%;
   margin-left: 27%;
}

@media only screen and (max-width: 847px) {
    
    .MMTmodal{
        width: 240px;
        height: 290px;
    }

    .PaymentInput input{
    font-size: 15px;
    word-spacing: 5px;
    letter-spacing: 2px;
    width: 230px;
    padding: 2px;
    margin: 3px;
    }
  }
